{% extends 'base.html.twig' %}

{% block title %}Documentos UNRaf{% endblock %}

{% block body %}

{{ parent() }}
{{ form_start(formulario, {'enctype':'multipart/form-data'})}}


<div class="bordeSombreado degrade divBuscar">
    <div style="text-align:center;" class="container-fluid">
        <h3 style="color:#306086">Busqueda</h3>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            Buscar
            {{ form_widget(formulario.buscar, {attr: {class: 'form-control',placeholder: 'Escriba el número del documento..'} }) }}  
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            Filtrar por<br>
            {{ form_widget(formulario.filtrarPor, {attr: {class: 'form-control'} }) }}  
        </div>
    </div>
    <div class="center">
    {{ form_widget(formulario.Buscar, {attr: {class: 'btn botonCeleste ancho'} }) }}  
    </div>
    {{ form_end(formulario) }}
    <div style="text-align:center;">
        <a href="{{path('documentos')}}"><img src="{{ asset("svg/plus-circle.svg") }}" width="30" alt="Busqueda Avanzada"></a>
    </div>
</div>
<br>
<div class="container">
    <div style="text-align:center;" class="container-fluid">
        <h3 style="color:#306086">Resultados</h3>
    </div>
    {# Comienza tabla #}
    <div  style="max-width: 1200px;
    overflow-x: scroll;">
    <table class="table  table-hover bordeSombreado"
        <thead>
          <tr style="background-color:#0F9FA8;color:white;text-align:center;">
            <th scope="col">Tipo</th>
            <th scope="col">N°</th>
            <th scope="col">Año</th>
            <th scope="col">Fecha public</th>
            <th scope="col">Título</th>
            <th scope="col">Acceso</th>
            <th scope="col">PDF</th>
            <th scope="col">-</th>
            <th scope="col">Más</th>
          </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
            {% if app.user.accesoDocumentos == documento.perfil or app.user.accesoDocumentos == "Confidencial" or (app.user.accesoDocumentos=="Restringido" and documento.perfil=="Público") %}
            <tr>
                <td>{{ documento.documentoTipo.nombre }}</td>
                <th scope="row">{{ documento.numero }}</th>
                <td>{{ documento.anio }}</td>
                <td>{{ documento.fechaPublicacion|date('d/m/Y') }}</td>
                <td>{{ documento.titulo }}</td>
                <td>{{ documento.perfil }}</td>
                <td><a class="btn btn-light" href="{{ path('verPDF', {'id': documento.id}) }}"><img src="{{ asset("svg/verPdf.svg") }}" class="svgMenu" alt="PDF">Ver</a></td>
                <td>
                    {% if documento.estado=="Alta" %}
                        {% if app.user.rolString=="Editor" %}
                        <a class="btn btn-success" href="{{ path('modificarDocumento', {'id': documento.id}) }}"><img src="{{ asset("svg/pencil.svg") }}" class="svgMenu" alt="Modificar"></a>
                        <a class="btn btn-danger" onclick="idObsoletear({{documento.id}})" data-toggle="modal" href="#ventanaModal"><img src="{{ asset("svg/trash.svg") }}" class="svgMenu" alt="Basura"></a>
                        {% endif %}
                        {# Modal para cuando se basurea el documento. #}
                        <div class="modal fade" id="ventanaModal">
                            <div class="modal-dialog">
                                <div class="modal-content scroll">

                                    <div class="modal-header">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h6 style="margin:3px;" class="modal-title">Desea realmente enviar este documento a obsoleto?</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <input id="inputObsoleto" type="text" class="form-control" placeholder="Ingrese el motivo.."></input>
                                                <h6 style="color:grey;">Mínimo 10 caracteres</h6>
                                                <h6 id="mensajeMotivo" style="color:red;"></h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <a onclick="direccionarParaObsoletear()" class="btn botonAzul container" style="text-align:center">Confirmar</a>
                                        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {# .... #}
                    {% endif %}
                </td>
                <td><a class="btn botonCeleste" href="{{ path('verMas', {'id': documento.id}) }}"><img src="{{ asset("svg/plus.svg") }}" title="Ver más" class="svgMenu" alt="Modificar"></a></td>
            </tr>
            {% endif %}
            {% else %}
                <h3 style="color:grey;text-align:center;padding:10px;">No se encontraron documentos.</h3>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
</div>
{% endblock %}
