{% extends 'base.html.twig' %}

{% block title %}Documentos UNRaf{% endblock %}

{% block body %}

{{ parent() }}
{{ form_start(formulario, {'enctype':'multipart/form-data'})}}


<div style="background-color:#F0F0F0;">
    <div  class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 espaciado">
            {{ form_label(formulario.buscar) }}<br>
            {{ form_widget(formulario.buscar, {attr: {class: 'ancho',placeholder: 'Escriba el número del documento..'} }) }}  
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 espaciado ">
            {{ form_label(formulario.filtrarPor) }}<br>
            {{ form_widget(formulario.filtrarPor, {attr: {class: 'ancho'} }) }}  
        </div>
    </div>
    <div class="center">
    {{ form_widget(formulario.Buscar, {attr: {class: 'btn btn-success botonBuscar'} }) }}  
    </div>
         {{ form_end(formulario) }}
</div>
<br>
<h4 style="text-align:center;">Resultados</h4>
<br>
<h6>-Bug pendientes:</h6>
<h6>-Palabras claves, falta configurar bien.</h6>
<h6>-Diseño, svgs, mostrar bien los documentos</h6>
<h6>-Mañana:Caso de uso BUSQUEDA.</h6>
<div class="container">

    {# Comienza tabla #}
    <table class="table table-responsive" style="margin:0 auto;">
        <thead>
          <tr style="background-color:#0F9FA8;color:white;text-align:center;">
            <th scope="col">N° documento</th>
            <th scope="col">Año</th>
            <th scope="col">Fecha publicación</th>
            <th scope="col">Fecha caducidad</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for documento in documentos %}
            <tr>
                <th scope="row">{{ documento.numero }}</th>
                <td>{{ documento.anio }}</td>
                <td>{{ documento.fechaPublicacion|date('d/m/Y h:m') }}</td>
                <td>{{ documento.fechaCaducidad|date('d/m/Y h:m') }}</td>
                <td>{{ documento.titulo }}</td>
                <td>{{ documento.descripcion }}</td>
                <td>
                    <a class="btn btn-light" href="{{ path('verPDF', {'id': documento.id}) }}"><img src="{{ asset("svg/verPdf.svg") }}" class="svgMenu" alt="PDF">Ver</a>
                    {% if documento.estado=="Alta" %}
                        <a class="btn btn-success" href="{{ path('modificarDocumento', {'id': documento.id}) }}"><img src="{{ asset("svg_pack/pencil.svg") }}" width="18" class="svgMenu" alt="Modificar"></a>
                        <a class="btn btn-danger" onclick="idObsoletear({{documento.id}})" data-toggle="modal" href="#ventanaModal"><img src="{{ asset("svg/trash.svg") }}" class="svgMenu" alt="Basura"></a>
                        {# Modal para cuando se basurea el documento. #}
                        <div class="modal fade" id="ventanaModal">
                            <div class="modal-dialog">
                                <div class="modal-content scroll">

                                    <div class="modal-header">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h6 style="margin:3px;" class="modal-title">Desea realmente enviar este documento a obsoleto?</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <input id="inputObsoleto" type="text" class="form-control" placeholder="Ingrese el motivo.."></input>
                                                <h6 style="color:grey;">Mínimo 10 caracteres</h6>
                                                <h6 id="mensajeMotivo" style="color:red;"></h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <a onclick="direccionarParaObsoletear()" class="btn botonAzul container" style="text-align:center">Confirmar</a>
                                        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {# .... #}
                    {% else %}
                        <a class="btn btn-danger" href="{{ path('eliminarDefinitivo', {'id': documento.id}) }}">Definitivo</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}
