{% extends 'base.html.twig' %}

{% block title %}Documentos UNRaf{% endblock %}

{% block body %}

{{ parent() }}
{# Modal de novedades #}
<div class="modal fade" id="ventanaModal">
    <div class="modal-dialog">
        <div class="modal-content scroll">

            <div class="modal-header">
                <h5 class="modal-title">Seguro que desea cancelar? Perderá los datos completados</h5>
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary container" style="text-align:center;" data-dismiss="modal">Cerrar</button>
                <a href="{{path('documentos')}}" class="btn btn-success container" style="text-align:center">Aceptar</a>
            </div>

        </div>
    </div>
</div>
<div style="" class="container ">
    <div class="container-fluid">
        <h3>Documentos>>Nuevo documento</h3>
    </div>
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}

    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Tipo documento:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.documentoTipo, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba el número del documento..'} }) }}  
            </div>
    </div>

    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Número:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.numero, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba el número del documento..'} }) }}  
            </div>
    </div>
            
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Año:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.anio, {attr: {onblur: 'verificarAnio(this)' , class: 'form-control acortadoInput' , placeholder: 'Escriba el año..'} }) }}  
            </div>
    </div>
            
    <div style="margin-top: 20px;" class="form-group row">
        <div class="col-sm-2 col-form-label">
            <h5>Fecha de publicación:</h5>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-2">
                    {{ form_widget(formulario.fechaPublicacion.day, {attr: {class: 'form-control '} }) }}  
                </div>
                <div class="col-sm-3">
                    {{ form_widget(formulario.fechaPublicacion.month, {attr: {class: 'form-control '} }) }}  
                </div>
                <div class="col-sm-3">
                    {{ form_widget(formulario.fechaPublicacion.year, {attr: {class: 'form-control'} }) }}  
                </div>
                
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;" class="form-group row">
        <div class="col-sm-2 col-form-label">
            <h5>Fecha de caducidad:</h5>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-2">
                    {{ form_widget(formulario.fechaCaducidad.day, {attr: {class: 'form-control '} }) }}  
                </div>
                <div class="col-sm-3">
                    {{ form_widget(formulario.fechaCaducidad.month, {attr: {class: 'form-control '} }) }}  
                </div>
                <div class="col-sm-3">
                    {{ form_widget(formulario.fechaCaducidad.year, {attr: {class: 'form-control'} }) }}  
                </div>
                
            </div>
        </div>
    </div>
    
    <div style="margin-top: 20px;" class="form-group row">
        <div class="col-sm-2 col-form-label">
            <h5>Versión:</h5>
        </div>
        <div class="col-sm-10">
            {{ form_widget(formulario.numeroVersion, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba el número de version..'} }) }}  
        </div>
    </div>
    
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Título:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.titulo, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba el título..'} }) }}  
                <p style="color:grey;">ADVERTENCIA: Mínimo 20 caractéres.</p>
            </div>
    </div>
     
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Descripción:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.descripcion, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba la descripción..'} }) }}  
            </div>
    </div>

    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Palabras claves:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.palabraClave, {attr: {class: 'form-control acortadoInput' , placeholder: 'Seleccione o escriba las palabras'} }) }}  
                <p style="color:grey;">Separar por ; cada palabra</p>
            </div>
    </div>
            
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Documento PDF:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.path, {attr: {accept:'application/pdf,.doc,.docx',class: 'acortadoInput form-control'} })}}
            </div>
    </div>
    
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Permiso de acceso:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.perfil, {attr: {class: 'form-control acortadoInput'} }) }}  
            </div>
    </div>

    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Publicar en Intranet:</h5>
            </div>
            <div class="col-sm-6">
                {{ form_widget(formulario.publico, {attr: {class: 'form-control'} }) }}  
            </div>
    </div>
    <div class="row center">
        <div class="col-sm-6">
            <a href="#ventanaModal" data-toggle="modal" style="background-color:#516878;color:white;" class="btn ancho" >Ver novedades</a>
        </div>

        <div class="col-sm-6">
        {{ form_widget(formulario.Aceptar, {attr: {class: 'ancho btn btn-success'} }) }}  
        </div>
    </div>
            
    {{ form_end(formulario) }}
</div>
{% endblock %}

