{% extends 'base.html.twig' %}

{% block title %}Documentos UNRaf{% endblock %}

{% block body %}

{{ parent() }}
<div class="container ">
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Número:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.numero, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba el número del documento..'} }) }}  
            </div>
    </div>
            
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Año:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.anio, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba el año..'} }) }}  
            </div>
    </div>
            
    <div style="margin-top: 20px;" class="form-group row">
        <div class="col-sm-2 col-form-label">
            <h5>Fecha de publicación:</h5>
        </div>
        <div class="col-sm-10">
            {{ form_widget(formulario.fechaPublicacion, {attr: {class: ' acortadoInput' , placeholder: 'Seleccione la fecha..'} }) }}  
        </div>
    </div>
        
    <div style="margin-top: 20px;" class="form-group row">
        <div class="col-sm-2 col-form-label">
            <h5>Fecha de caducidad:</h5>
        </div>
        <div class="col-sm-10">
            {{ form_widget(formulario.fechaCaducidad, {attr: {class: ' acortadoInput' , placeholder: 'Seleccione la fecha de caducidad..'} }) }}  
        </div>
    </div>
    
    <div style="margin-top: 20px;" class="form-group row">
        <div class="col-sm-2 col-form-label">
            <h5>Versión:</h5>
        </div>
        <div class="col-sm-10">
            {{ form_widget(formulario.numeroVersion, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba el número de version..'} }) }}  
        </div>
    </div>
        
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Palabras cláves:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.palabrasClaves, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba palabras claves separadas por ;'} }) }}  
            </div>
    </div>
    
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Título:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.titulo, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba el título..'} }) }}  
            </div>
    </div>
     
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Descripción:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.descripcion, {attr: {class: 'form-control acortadoInput' , placeholder: 'Escriba la descripción..'} }) }}  
            </div>
    </div>
            
    <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Documento PDF:</h5>
            </div>
            <div class="col-sm-10">
                {{ form_widget(formulario.path, {attr: {class: 'acortadoInput'} }) }}  
            </div>
    </div>
    
    <div class="center">
    {{ form_widget(formulario.Aceptar, {attr: {class: 'ancho btn btn-success'} }) }}  
    </div>
            
    {{ form_end(formulario) }}
</div>
{% endblock %}

