{% extends 'base.html.twig' %}

{% block title %}Documentos UNRaf{% endblock %}

{% block body %}

{{ parent() }}
{# Modal de novedades #}
<div class="modal fade" id="ventanaModal">
    <div class="modal-dialog">
        <div class="modal-content scroll">

            <div class="modal-header">
                <h6 class="modal-title">Seguro que desea cancelar?</h6>
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-footer">
                <a href="{{path('documentos')}}" class="btn botonAzul container" style="text-align:center">Aceptar</a>
            </div>

        </div>
    </div>
</div>
<div>
    <a class="btn btn-light bordeSombreado" style="color:#306086;" href="{{path('documentos')}}"><img src="{{ asset("svg/reply.svg") }}" alt="Imagen documento">Volver al menú</a>
    <div style="text-align:center;" class="container-fluid">
        <h3 style="color:#0F9FA8;">Documentos>>Crear</h3>
    </div>
    {{ form_start(formulario, {'enctype':'multipart/form-data'})}}

    {# Empieza formulario  #}
    <div class="divFormulario container">
    <h4 style="margin-top:10px;color:grey;">DATOS</h4>
        <div style="margin-top: 20px;" class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <h5>Tipo:</h5>
                </div>
                <div class="col-sm-9">
                    {{ form_widget(formulario.documentoTipo, {attr: {class: 'form-control' , placeholder: 'Escriba el número del documento..'} }) }}  
                </div>
        </div>
        <div style="container-fluid">
            <div style="margin-top: 20px;" class="form-group row">
                    <div class="col-sm-3 col-form-label">
                        <h5>Número:</h5>
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(formulario.numero, {attr: {class: 'form-control' , placeholder: 'Escriba el número del documento..'} }) }}  
                    </div>
            </div>
                    
            <div style="margin-top: 20px;" class="form-group row">
                    <div class="col-sm-3 col-form-label">
                        <h5>Año:</h5>
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(formulario.anio, {attr: {onblur: 'verificarAnio(this)' , class: 'form-control' , placeholder: 'Escriba el año..'} }) }}  
                    </div>
            </div>
                    
            <div style="margin-top: 20px;" class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <h5>Fecha de publicación:</h5>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_widget(formulario.fechaPublicacion.day, {attr: {class: 'form-control '} }) }}  
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(formulario.fechaPublicacion.month, {attr: {class: 'form-control '} }) }}  
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(formulario.fechaPublicacion.year, {attr: {class: 'form-control'} }) }}  
                        </div>
                        
                    </div>
                </div>
            </div>

            <div style="margin-top: 20px;" class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <h5>Fecha de caducidad:</h5>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_widget(formulario.fechaCaducidad.day, {attr: {class: 'form-control '} }) }}  
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(formulario.fechaCaducidad.month, {attr: {class: 'form-control '} }) }}  
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(formulario.fechaCaducidad.year, {attr: {class: 'form-control'} }) }}  
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;" class="form-group row">
            <div class="col-sm-3 col-form-label">
                <h5>Versión:</h5>
            </div>
            <div class="col-sm-9">
                {{ form_widget(formulario.numeroVersion, {attr: {class: 'form-control' , placeholder: 'Escriba el número de version..'} }) }}  
            </div>
        </div>
        
        <div style="margin-top: 20px;" class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <h5>Título:</h5>
                </div>
                <div class="col-sm-9">
                    {{ form_widget(formulario.titulo, {attr: {onkeydown: 'contadorTitulo(this)' , class: 'form-control' , placeholder: 'Escriba el título..'} }) }}  
                    <p id="mensajeTitulo" style="color:grey;">Mínimo 20 caracteres</p>
                </div>
        </div>
        
        <div style="margin-top: 20px;" class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <h5>Descripción:</h5>
                </div>
                <div class="col-sm-9">
                    {{ form_widget(formulario.descripcion, {attr: {class: 'form-control' , placeholder: 'Escriba la descripción..'} }) }}  
                </div>
        </div>

        <div style="margin-top: 20px;" class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <h5>Palabras claves:</h5>
                </div>
                <div class="col-sm-9">
                    {{ form_widget(formulario.palabraClave, {attr: {value: '',onclick: 'vaciarPalabrasClaves(this)',class: 'form-control' , placeholder: 'Seleccione o escriba las palabras'} }) }}  
                    <p style="color:grey;">Separar por ; cada palabra</p>
                </div>
        </div>
        <hr>
        <h4 style="margin-top:10px;color:grey;">ARCHIVO</h4>    
        <div style="margin-top: 20px;" class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <h5>Documento PDF:</h5>
                </div>
                <div class="col-sm-9">
                    {{ form_widget(formulario.path, {attr: {accept:'application/pdf,.doc,.docx',class: 'form-control'} })}}
                </div>
        </div>
        <hr>
        <h4 style="margin-top:10px;color:grey;">PERFILES</h4>
        <div style="margin-top: 20px;" class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <h5>Permiso de acceso:</h5>
                </div>
                <div class="col-sm-9">
                    {{ form_widget(formulario.perfil, {attr: {class: 'form-control'} }) }}  
                </div>
        </div>

        <div style="margin-top: 20px;" class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <h5>Publicar en Intranet:</h5>
                </div>
                <div class="col-sm-7">
                    {{ form_widget(formulario.publico, {attr: {class: 'form-control'} }) }}  
                </div>
        </div>
        <div class="row center">
            <div class="col-sm-6">
                <a href="#ventanaModal" data-toggle="modal" style="" class="btn btn-secondary ancho" >Cancelar</a>
            </div>

            <div class="col-sm-6">
            {{ form_widget(formulario.Grabar, {attr: {class: 'ancho btn botonAzul'} }) }}  
            </div>
        </div>        
    </div>
    {{ form_end(formulario) }}
</div>
{% endblock %}

